body {
    background: #202124;
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
}

h1 {
    font-size: 4vh;
}

.square {
    background: #303134;
    color: #303134;
    display: inline-block;
    text-align: center;
    width: 4vw;
    padding: 3vh;
    font-size: 6vh;
    margin: 0.6vh;
    cursor: pointer;
}

.text-label {
    font-weight: 300;
    color: #eee;
}

.player, .winner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    margin-top: 1.5vh;
    color: #d6d5d5;
}

button {
    background-color: #202124;
    color: #eee;
    font-weight: bold;
    border: 0.4vh solid #0f0;
    margin-top: 2vh;
    width: 23vw;
    height: 6vh;
    padding: 3.8vh;
    font-size: 4vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
}


button:hover {
    background-color: #0f0;
    color: white;
}